<div>
    <h2>
        Welcome! You must be logged-in to check for launch availabilities.
    </h2>
</div>
<a class="custom_btn" href="/Auth/Login">Login</a>

<div>
    <h2>
        Not a client?
    </h2>
</div>
<a class="custom_btn" href="/Auth/Register">Register</a>