<div class="flex-container">
    <div id="flex-item1">
        <div>
            <h2>Welcome!</h2>
            <h4>Login to check <br />for launch availabilities.</h4>
        </div>
        <br />
        <a class="mainbtn" href="/Auth/Login">Login</a>
        <br />
        <br />
        <div>
            <h4>Not a client?</h4>
        </div>
        <br />
        <a class="mainbtn" href="/Auth/Register">Register</a>
    </div>
    <div id="flex-item2">
        <h2>Saturn Return will take you to Saturn and back.</h2>
            <p>We offer interstellar travel at fair prices.</p>
            <p>Our fleet is composed of two star-class spaceships that allow for 10 interstellar travellers to reach Saturn (or Jupiter), plus of course our crews.</p>
        <br />
        <a class="mainbtn" href="/Home/Planets">Learn more about our destination planets.</a>
    </div>
</div>