
@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.nav-item {
    flex-grow: 1;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #04033F;
    padding: 0px 15px 0px 15px;
    transition: font-weight 150ms, transform 300ms, border-bottom 1s;
}

    .nav-item:hover {
        font-weight: 300;
        transform: translate(0px, -20px);
        border-bottom: 3px solid rgba(0, 0, 255, 0.14);
    }


#alertWind {
   font-weight: 700;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

#flex-item1 {
    flex-basis: 500px;
    padding: 30px;
    transition: background-color, 300ms;
}

#flex-item2 {
    border-left: 2px solid rgba(255, 255, 255, 0.18);
    padding: 30px;
    flex-basis: 1000px;
    transition: background-color, 300ms;
}

#flex-item1:hover {
    background-color: rgba(255, 255, 255, 0.11);
}

#flex-item2:hover {
    background-color: rgba(255, 255, 255, 0.11);
}

.warning {
    padding: 30px;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.15);
    animation: pulse-animation 0.5s infinite;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px #D14A14;
    }

    100% {
        box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
    }
}

th{
    color: white;
}

td{
    color: greenyellow;
}

header {
    margin-bottom: 100px;
    box-shadow: rgb(8,32,5), 100px 100px inset;
}
body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: white;
    font-family: 'Georama', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

menu{
    align-items: flex-start;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.nav{
    margin: 20px;
    padding: 40px;
}

/* Provide sufficient contrast against white background */
a:link {
    color: white;
    text-decoration: none;
}

.btn-primary {
    color: #fff;
    background-color: #27536B;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {

    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem 2rem rgba(0, 0, 0, .05);
}


button .accept-policy{
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  color: yellowgreen;
  line-height: 60px; /* Vertically center the text there */
}

.atmosphere{
    display: none;
}

#name {
    position: inherit;
    min-width: 350px;
    padding: 0px, 30px, 0px, 30px;
    color: #04033F;
}

#logo {
    position: inherit;
    width: 230px;
    margin: 5px;
}

/*STARS*/
.night {
    position: relative;
    width: 300px;
    transform: rotateZ(40deg);
}

.star {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 4px;
    background: linear-gradient(-45deg, #27536B, rgba(0, 0, 255, 0));
    border-radius: 999px;
    filter: drop-shadow(0 0 6px #699BFF);
    animation: tail 3s ease-in-out infinite, falling 3s ease-in-out infinite;
}

@keyframes tail {
    0% {
        width: 0;
    }

    30% {
        width: 100px;
    }

    100% {
        width: 0;
    }
}

@keyframes falling {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(300px);
    }
}

.star::before, .star::after {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    right: 0;
    height: 4px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #FFF1A7, rgba(0, 0, 255, 0));
    border-radius: 100%;
    transform: translateX(50%) rotateZ(45deg);
    animation: shining 2s ease-in-out infinite;
}

@keyframes shining {
    0% {
        width: 0;
    }

    50% {
        width: 30px;
    }

    100% {
        width: 0;
    }
}

.star::after {
    transform: translateX(50%) rotateZ(-45deg);
}

.star:nth-child(1) {
    top: calc(50% - 100px);
    left: calc(50% - 250px);
    animation-delay: 1s;
}

    .star:nth-child(1)::before, .star:nth-child(1)::after {
        animation-delay: 1s;
    }

.star:nth-child(2) {
    top: calc(50% - 50px);
    left: calc(50% - 200px);
    animation-delay: 1.2s;
}

.star:nth-child(2)::before, .star:nth-child(2)::after {
        animation-delay: 1.2s;
}

.star:nth-child(3) {
    top: calc(50% - 0px);
    left: calc(50% - 150px);
    animation-delay: 1.4s;
}

.star:nth-child(3)::before, .star:nth-child(3)::after {
        animation-delay: 1.4s;
}

.star:nth-child(4) {
    top: calc(50% - -50px);
    left: calc(50% - 200px);
    animation-delay: 1.6s;
}

.star:nth-child(4)::before, .star:nth-child(4)::after {
        animation-delay: 1.6s;
}

.star:nth-child(5) {
    top: calc(50% - -100px);
    left: calc(50% - 250px);
    animation-delay: 1.8s;
}

.star:nth-child(5)::before, .star:nth-child(5)::after {
        animation-delay: 1.8s;
}
    /*STARS*/

/*button magic*/

button, .mainbtn, button::after {
    width: 200px;
    height: 86px;
    font-size: 18px;
    font-family: 'Bebas Neue', cursive;
    background: linear-gradient(45deg, transparent 5%, #D14A14 5%);
    border: 0;
    border-radius: 2px;
    color: #fff;
    letter-spacing: 3px;
    line-height: 88px;
    box-shadow: 6px 0px 0px #00E6F6;
    outline: transparent;
    position: relative;
}

    .mainbtn::after, button::after {
        --slice-0: inset(50% 50% 50% 50%);
        --slice-1: inset(80% -6px 0 0);
        --slice-2: inset(50% -6px 30% 0);
        --slice-3: inset(10% -6px 85% 0);
        --slice-4: inset(40% -6px 43% 0);
        --slice-5: inset(80% -6px 5% 0);
        content: '...//1---';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
        text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
        clip-path: var(--slice-0);
    }

.mainbtn:hover::after, button:hover::after {
            animation: 1s glitch;
            animation-timing-function: steps(2, end);
}

.mainbtn:link{
            text-decoration: none;
}

@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }

    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }

    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }

    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }

    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }

    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }

    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }

    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }

    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }

    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }

    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}

/*button magic end*/

